<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header') %>
    <title><%= %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <img src="https://i.ibb.co/H2w2Xd0/Infographics-1.jpg" alt="Infographics-1" border="0">
  <%- include('./partials/footer') %>
</html>
